<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Ocena konia</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />    
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <script>
    $(function() {
        var socket = io.connect('//' + window.location.host, {secure: true});
        
        socket.emit("horseMarkByCompetitionIdAndJuryIdAndHorseIdReq", {
            competitionId: "<%- horseMark.competition._id %>",
            juryId: "<%- horseMark.jury._id %>",
            horseId: "<%- horseMark.horse._id %>"
        });
        
        setInterval(function() {
            socket.emit("horseMarkByCompetitionIdAndJuryIdAndHorseIdReq", {
                competitionId: "<%- horseMark.competition._id %>",
                juryId: "<%- horseMark.jury._id %>",
                horseId: "<%- horseMark.horse._id %>"
            });
        }, 5000);
        
        socket.on("horseMarkByCompetitionIdAndJuryIdAndHorseIdRes", function(data) {
            var type = $("#type"+data.horseMark.type);
            type.addClass("active");
            
            var head = $("#head"+data.horseMark.head);
            head.addClass("active");
            
            var body = $("#body"+data.horseMark.body);
            body.addClass("active");
            
            var legs = $("#legs"+data.horseMark.legs);
            legs.addClass("active");
            
            var movement = $("#movement"+data.horseMark.movement);
            movement.addClass("active");
            
        });
        
        var type = $("#type");
        for (var i=0; i<21; i++) {
            var div = $("<div>").attr("id", "type"+i).val(i).text(i);
            div.click(function(e) {
                socket.emit("changeTypeMarkReq", {
                    competitionId: "<%- horseMark.competitionId %>",
                    juryId: "<%- horseMark.juryId %>",
                    horseId: "<%- horseMark.horseId %>",
                    type: $(this).val()
                });
            });
            type.append(div);
        }
        
        var head = $("#head");
        for (var i=0; i<21; i++) {
            var div = $("<div>").attr("id", "head"+i).val(i).text(i);
            div.click(function(e) {
                socket.emit("changeHeadMarkReq", {
                    competitionId: "<%- horseMark.competitionId %>",
                    juryId: "<%- horseMark.juryId %>",
                    horseId: "<%- horseMark.horseId %>",
                    head: $(this).val()
                });
            });
            head.append(div);
        }
        
        var body = $("#body");
        for (var i=0; i<21; i++) {
            var div = $("<div>").attr("id", "body"+i).val(i).text(i);
            div.click(function(e) {
                socket.emit("changeBodyMarkReq", {
                    competitionId: "<%- horseMark.competitionId %>",
                    juryId: "<%- horseMark.juryId %>",
                    horseId: "<%- horseMark.horseId %>",
                    body: $(this).val()
                });
            });
            body.append(div);
        }
        
        var legs = $("#legs");
        for (var i=0; i<21; i++) {
            var div = $("<div>").attr("id", "legs"+i).val(i).text(i);
            div.click(function(e) {
                socket.emit("changeLegsMarkReq", {
                    competitionId: "<%- horseMark.competitionId %>",
                    juryId: "<%- horseMark.juryId %>",
                    horseId: "<%- horseMark.horseId %>",
                    legs: $(this).val()
                });
            });
            legs.append(div);
        }
        
        var movement = $("#movement");
        for (var i=0; i<21; i++) {
            var div = $("<div>").attr("id", "movement"+i).val(i).text(i);
            div.click(function(e) {
                socket.emit("changeMovementMarkReq", {
                    competitionId: "<%- horseMark.competitionId %>",
                    juryId: "<%- horseMark.juryId %>",
                    horseId: "<%- horseMark.horseId %>",
                    movement: $(this).val()
                });
            });
            movement.append(div);
        }
    });
    </script>
    <div>
        <div><a href="/profile">Edycja profilu</a></div>
        <div><a href="/logout">Wyloguj</a></div>
    </div>
    <h1>Ocena konia: <%- horseMark.horse.horseName %></h1>
    <div>
        <div id="type">
            <p>Typ</p>
        </div>
        <div id="head">
            <p>Głowa</p>
        </div>
        <div id="body">
            <p>Tułów</p>
        </div>
        <div id="legs">
            <p>Nogi</p>
        </div>
        <div id="movement">
            <p>Ruch</p>
        </div>
    </div>
</body>

</html>
