<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Zawody</title>
    <%- include("header") %>
    
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
    $(document).ready(function(){
        var socket = io.connect('//' + window.location.host, {secure: true});
        
        var startStopCompetitionBtn = $("#startStopCompetition");
        startStopCompetitionBtn.click(function(e) {
            if ($(this).prop("checked") == true) {
                socket.emit("competitionStartReq", {
                    competitionId: "<%= competition._id %>"
                });
            } else {
                socket.emit("competitionStopReq", {
                    competitionId: "<%= competition._id %>"
                });
            }
        });
        
        socket.on("competitionActivateRes", function(data) {
            window.location = "/newCompetitionStep2/" + data.competitionId;
        });
///tworzymy grupe koni--poczatek
        socket.emit("availableHorsesReq", {
            gender: "<%= competition.gender %>",
            competitionId: "<%= competition._id %>"
        });
        socket.on("availableHorsesRes", function(data) {
            var horsesList = $("#horses table tbody");
            horsesList.empty();

            for (var i=0; i<data.length; i++) {
                var row = $("<tr />");
                row.append("<td>" + data[i].horseName +"</td>");
                row.append("<td>" + ( data[i].gender == "MALE" ? "Ogier" : "Klacz" ) +"</td>");
                row.append("<td>" + data[i].owner +"</td>");
                row.append($("<td>").addClass("date").text(moment(Date.parse(data[i].dateOfBirth)).format("YYYY-MM-DD")));

                var addButton = $("<td>");
                addButton.attr("horseId", data[i]._id)
                $("<i class='material-icons'>add_circle_outline</i>").appendTo(addButton);
                addButton.click(function(e) {
                    socket.emit("horseAddToCompetitionReq", {
                        competitionId: '<%= competition._id %>',
                        horseId: $(this).attr("horseId")
                    });
                });
               
                    <%if(competition.isActive == false){%>
                    
                    row.append(addButton);
                    <% }%>
                horsesList.append(row);
            }
        });

        socket.on("horseAddToCompetitionRes", function(data) {
            window.location = "/newCompetitionStep2/" + data.competitionId;
        });   

        socket.emit("horsesByCompetitionIDReq", {
            competitionId: "<%= competition._id %>"
        });
        socket.on("horsesByCompetitionIDRes", function(data) {
            var horsesInCompetition = $("#horsesInCompetition table tbody");
            horsesInCompetition.empty();

            for (var i=0; i<data.length; i++) {
                var row = $("<tr />");
                row.append("<td>" + data[i].horse.horseName +"</td>");
                row.append("<td>" + ( data[i].horse.gender == "MALE" ? "Ogier" : "Klacz" ) +"</td>");
                row.append("<td>" + data[i].horse.owner +"</td>");
                row.append($("<td>").addClass("date").text(moment(Date.parse(data[i].horse.dateOfBirth)).format("YYYY-MM-DD")));
                row.append("<td>" + ( data[i].isActive == true ? "TAK" : "NIE" ) +"</td>");

                <% if (competition.isActive === true) { %>
                    var activateButton = $("<td>");
                    activateButton.attr("horseId", data[i].horse._id);
                    if (data[i].isActive == true) {
                        $("<i class='material-icons'>highlight_off</i>").appendTo(activateButton);
                    } else {
                        $("<i class='material-icons'>done</i>").appendTo(activateButton);
                    }
                    activateButton.click(function(e) {
                        socket.emit("horseActivateInCompetitionReq", {
                            competitionId: '<%= competition._id %>',
                            horseId: $(this).attr("horseId")
                        });
                    });
                    row.append(activateButton);
                    horsesInCompetition.append(row);
                <% } else { %>
                    var deleteButton = $("<td>");
                    deleteButton.attr("horseId", data[i].horse._id);
                    $("<i class='material-icons'>remove_circle_outline</i>").appendTo(deleteButton);
                    deleteButton.click(function(e) {
                        socket.emit("horseDeleteFromCompetitionReq", {
                            competitionId: '<%= competition._id %>',
                            horseId: $(this).attr("horseId")
                        });
                    });
                    row.append(deleteButton);
                    horsesInCompetition.append(row);
                <% } %>
            }
        });
        socket.on("horseActivateInCompetitionRes", function(data) {
            if (typeof data.message != "undefined") {
                alert(data.message);
            }
            window.location = "/newCompetitionStep2/" + data.competitionId;
        });
        socket.on("horseDeleteFromCompetitionRes", function(data) {
            window.location = "/newCompetitionStep2/" + data.competitionId;
        });

        socket.emit("availableJuryReq", {
            competitionId: "<%= competition._id %>"
        });

        socket.on("availableJuryRes", function(data) {
            var juryList = $("#juries table tbody");
            juryList.empty();

            for (var i=0; i<data.length; i++) {
                var row = $("<tr />");
                row.append("<td>" + data[i].username +"</td>");
                row.append("<td>" + data[i].password +"</td>");
                row.append("<td>" + data[i].firstName +"</td>");
                row.append("<td>" + data[i].lastName +"</td>");

                var addButton = $("<td>");
                addButton.attr("juryId", data[i]._id)
                $("<i class='material-icons'>add_circle_outline</i>").appendTo(addButton);
                addButton.click(function(e) {
                    socket.emit("juryAddToCompetitionReq", {
                        competitionId: '<%= competition._id %>',
                        juryId: $(this).attr("juryId")
                    });
                });
                
                <% if (competition.isActive == false)  { %>
                row.append(addButton);
                <% } %>
                juryList.append(row);
            }
        });

        socket.on("juryAddToCompetitionRes", function(data) {
            window.location = "/newCompetitionStep2/" + data.competitionId;
        });

        socket.on("juryDeleteFromCompetitionRes", function(data) {
            window.location = "/newCompetitionStep2/" + data.competitionId;
        }); 
        socket.emit("juriesByCompetitionIDReq", {
            competitionId: "<%= competition._id %>"
        });
        socket.on("juriesByCompetitionIDRes", function(data) {
            var juriesInCompetition = $("#juriesInCompetition table tbody");
            juriesInCompetition.empty();

            for (var i=0; i<data.length; i++) {
                var row = $("<tr />");
                row.append("<td>" + data[i].username +"</td>");
                row.append("<td>" + data[i].password +"</td>");
                row.append("<td>" + data[i].firstName+"</td>");
                row.append("<td>" + data[i].lastName +"</td>");

                var deleteButton = $("<td>");
                deleteButton.attr("juryId", data[i]._id)
                $("<i class='material-icons'>remove_circle_outline</i>").appendTo(deleteButton);
                deleteButton.click(function(e) {
                    socket.emit("juryDeleteFromCompetitionReq", {
                        competitionId: '<%= competition._id %>',
                        juryId: $(this).attr("juryId")
                    });
                });
                <%if(competition.isActive == false){ %>
                             row.append(deleteButton);
                
                   <%  } %>
                
                
                var hurryUpButton = $("<td>");
                hurryUpButton.attr("juryId", data[i]._id)
                $("<i class='material-icons'>hourglass_empty</i>").appendTo(hurryUpButton);
                hurryUpButton.click(function(e) {
                    socket.emit("juryHurryUpReq", {
                        competitionId: '<%= competition._id %>',
                        juryId: $(this).attr("juryId")
                    });
                });
                <%if(competition.isActive == true){ %>
                    row.append(hurryUpButton);
                <% } %>
        
                juriesInCompetition.append(row);
            }
        });
        socket.on("juriesDeleteFromCompetitionRes", function(data) {
            window.location = "/newCompetitionStep2/" + data.competitionId;
        });
        
        $("#competitionStart").click(function(e) {
            socket.emit("competitionStartReq", {
                competitionId: "<%= competition._id %>"
            });
        });
        socket.on("competitionStartRes", function(data){
            $("#competitionStatus").text("Aktywne");
            window.location = "/newCompetitionStep2/" + data.competitionId;
        });
            
        $("#competitionStop").click(function(e) {
            socket.emit("competitionStopReq", {
                competitionId: "<%= competition._id %>"
                
            });
        });
        socket.on("competitionStopRes", function(data){
            if(data.status == "OK") {
                $("#competitionStatus").text("Nieaktywne");
                window.location = "/newCompetitionStep2/" + data.competitionId;
            } else if(data.status == "NOK") {
                alert(data.message);
            }
            
      
        });
        
        $("#competitionForm form").hide();
        <%if(competition.isActive == false){ %>
            $("#editCompetitionButton").show();
//            $("#horses").show();
//            $("#juries").show();
        <% } else { %>
            $("#editCompetitionButton").hide();
//            $("#horses").hide();
//            $("#juries").hide();
        <% } %>
        $("#editCompetitionButton").click(function(e) {
            <%if(competition.isActive == false){ %>
                $("#competitionForm form").toggle();
            <% } %>
        });
        
        
           ///pokazywanie i ukrywanie crudów i listy
        
    
//        $(document).ready(function(){
           
        $("#juries").hide();
        $("#horses").hide();
//        $("#horsesInCompetition").show();
//        $("#juryInCompetition").show();

        <% if (typeof showJuries != "undefined") { %>
            $("juryv").show();
        <% } %>

        $("#juryVbtn").click(function(){
//            $("#juryV").animate({
            $("#juries").animate({
                height: 'toggle'
            });
    //        $("juryv").toggle();
        });

        $("#horseVbtn").click(function(){
//            $("#horseV").animate({
            $("#horses").animate({
                height: 'toggle'
            });
    //        $("horsev").toggle();
        });

            $("input[type=date]").datepicker();
//        });
        
        
            
////tabela wyników            
        var competitionId = "<%= competition._id %>";

            socket.emit("horseMarkByCompetitionIdAdminReq", {
                competitionId: competitionId
            });
            
            setInterval(function() {
                socket.emit("horseMarkByCompetitionIdAdminReq", {
                    competitionId: competitionId
                });
            }, 5000);

            socket.on("horseMarkByCompetitionIdAdminRes", function(data) {
                var horseMarks = $("#horseMarks table tbody");
                horseMarks.empty();
                var horsesAvg = {};
                var horses = {};
                var juries = {};
                
                for (var i=0; i<data.horseMarks.length; i++) {
                    horses[data.horseMarks[i].jury._id] = [];
                }
                                                           // robimy pętle po odpowiedzi z serwera
                //Obliczenie liczby sędziów
                for (var i=0; i<data.horseMarks.length; i++) {
                    juries[data.horseMarks[i].jury._id] = 1;
                }
                var juriesNo = Object.keys(juries).length;
                
                //unikalna mapa koni z inicjalnymi wartościami średnich ocen
                for (var i=0; i<data.horseMarks.length; i++) {
                    horsesAvg[data.horseMarks[i].horse._id] = {
                        id: data.horseMarks[i].horse._id,
                        type: 0,
                        head: 0,
                        body: 0,
                        legs: 0,
                        movement: 0,
                        avg: 0
                    };
                }
                
                //obliczenie wartości średnich ocen koni - sumowanie
                for (var i=0; i<data.horseMarks.length; i++) {
                    horsesAvg[data.horseMarks[i].horse._id].type += data.horseMarks[i].type;
                    horsesAvg[data.horseMarks[i].horse._id].head += data.horseMarks[i].head;
                    horsesAvg[data.horseMarks[i].horse._id].body += data.horseMarks[i].body;
                    horsesAvg[data.horseMarks[i].horse._id].legs += data.horseMarks[i].legs;
                    horsesAvg[data.horseMarks[i].horse._id].movement += data.horseMarks[i].movement;
                }
                for(var key in horsesAvg) {
                    horsesAvg[key].type /= juriesNo;
                    horsesAvg[key].head /= juriesNo;
                    horsesAvg[key].body /= juriesNo;
                    horsesAvg[key].legs /= juriesNo;
                    horsesAvg[key].movement /= juriesNo;
                    horsesAvg[key].avg = (horsesAvg[key].type + horsesAvg[key].head + horsesAvg[key].body + horsesAvg[key].legs + horsesAvg[key].movement)/5;
                }
                
                var horsesSorted = [];
                for(var key in horsesAvg) {
                    horsesSorted.push(horsesAvg[key]);
                }
                horsesSorted.sort(function(a, b) {
                    return b.avg - a.avg;
                });
                console.log(horsesSorted);
                
                var trj;
                var trh;
                for (var j=0; j<horsesSorted.length; j++) {
                    for (var i=0; i<data.horseMarks.length; i++) {
                        if (horsesSorted[j].id == data.horseMarks[i].horse._id) {
                            trh = $("#"+data.horseMarks[i].horse._id+".horseRow");
                            if (!trh.length) {
                                trh = $("<tr>").attr("id", data.horseMarks[i].horse._id).addClass("horseRow");
                                $("<td>").text(data.horseMarks[i].horse.horseName).appendTo(trh);
                                $("<td>").text(horsesAvg[data.horseMarks[i].horse._id].type).appendTo(trh);
                                $("<td>").text(horsesAvg[data.horseMarks[i].horse._id].head).appendTo(trh);
                                $("<td>").text(horsesAvg[data.horseMarks[i].horse._id].body).appendTo(trh);
                                $("<td>").text(horsesAvg[data.horseMarks[i].horse._id].legs).appendTo(trh);
                                $("<td>").text(horsesAvg[data.horseMarks[i].horse._id].movement).appendTo(trh);
                                $("<td>").text(horsesAvg[data.horseMarks[i].horse._id].avg).appendTo(trh);
                                horseMarks.append(trh);
                            }

                            trj = $("<tr>").addClass("juryRow").attr("horse", data.horseMarks[i].horse._id);

                            $("<td>").text(data.horseMarks[i].jury.firstName + " " + data.horseMarks[i].jury.lastName).appendTo(trj);
                            $("<td>").text(data.horseMarks[i].type).appendTo(trj);
                            $("<td>").text(data.horseMarks[i].head).appendTo(trj);
                            $("<td>").text(data.horseMarks[i].body).appendTo(trj);
                            $("<td>").text(data.horseMarks[i].legs).appendTo(trj);
                            $("<td>").text(data.horseMarks[i].movement).appendTo(trj);

                            horseMarks.append(trj);
                        }
                    }
                }
//                
//                $(".juryRow").hide();
//                $(".horseRow").click(function(e) {
//                    var juryRows = $(this).parent().children(".juryRow[horse="+$(this).attr("id")+"]");
//                    juryRows.toggle();
//                });
            });
       
            <% if(competition.isActive == false){ %>
                $("#horseMarks").hide();
                <%}%>
        
        
            
    });
     
        
    </script>
</head>
    
<body>
   <nav>
        <div>
            <a href="/logout">Wyloguj</a>
        </div>
        <div>
            <a href="/admin" class="myButton">Panel administratora</a>
            <a href="/juryManager" class="myButton">Zarządzaj sędziami</a>
            <a href="/horseManager" class="myButton">Zarzadzaj koniami</a>
            <a href="/competitionMasterManager" class="myButton">Zarządzaj zawodami</a>
            <a href="/newCompetitionMaster" class="myButton">Utwórz nowe zawody</a>
        </div>
       
        <div class="message">
            <%  if(typeof message != 'undefined'){ %>
            <%= message %>
            <% } %>   
        </div>
    </nav>
<div class="myButton">
    <label class="switch">
      <input id="startStopCompetition" type="checkbox" <%= competition.isActive ? "checked":""%>/>
      <div class="slider"></div>
    </label>
</div>  
    <% if (typeof message != "undefined") { %>
        <div class="message"></div>
    <%}%>
    
    <input type="hidden" id="competitionId" value="<%= competition._id %>" />

    <div id="competitionForm">
        <form action="/editCompetition" method="post" class="form-style-6">
            <input type="hidden" name="competitionId" value="<%= competition._id %>" />
            <table>
                <tr>
                    <td><label>Nazwa</label></td>
                    <td><input type="text" name="name" value="<%= competition.name %>" /></td>
                </tr>
                <tr>
                    <td><label>Data</label></td>
                    <td><input type="date" name="date" value="<%= competition.date %>" /></td>
                </tr>
                <tr>
                    <td><label>Uwagi</label></td>
                    <td><textarea type="text" name="comments" value="<%= competition.comments %>"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Zapisz zawody" /></td>
                </tr>
            </table>
        </form>
    </div>
        <h1>Grupa: <%= competition.name %></h1>
 <div>
    
    <a id="horseVbtn" class="myButton1">Zarzadzaj grupą koni</a>
    <a id="juryVbtn" class="myButton1">Zarzadzaj grupą sędziów</a>
    <a id="competitionStart" class="myButton1">Rozpocznij ocenianie</a>
    <a id="competitionStop" class="myButton1">Zakończ ocenianie</a>
     <a id="editCompetitionButton" class="myButton1">Edytuj grupę</a> 

 </div>
      <div id="competitionStatus">Status grupy: <%= competition.isActive ? "Aktywne" : "Nieaktywne" %></div> 

    <div class="inline-block">
       <div id="horseV">
        <div id="horsesInCompetition">
            <h2>Konie w zawodach</h2>
            <table>
                <thead>
                    <tr>
                        <td>Nazwa</td>
                        <td>Płeć</td>
                        <td>Właściciel</td>
                        <td>Data urodzenia</td>
                        <td>Czy aktywny</td>
                        <td>Operacje</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="horses">
            <h2>Dostępne konie</h2>
            <table>
                <thead>
                    <tr>
                        <td>Nazwa</td>
                        <td>Płeć</td>
                        <td>Właściciel</td>
                        <td>Data urodzenia</td>

                        <td>Operacje</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
  </div>
    <div class="inline-block">
      <div id="juryV">
        <h2>Sędziowie w zawodach</h2>
        <div id="juriesInCompetition">
            <table>
                <thead>
                    <tr>
                        <td>Nazwa użytkownika</td>
                        <td>Hasło</td>
                        <td>Imię</td>
                        <td>Nazwisko</td>
                        <td>Operacje</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div id="juries">
            <h2>Dostępni sędziowie</h2>
            <table>
                <thead>
                    <tr>
                        <td>Nazwa użytkownika</td>
                        <td>Hasło</td>
                        <td>Imię</td>
                        <td>Nazwisko</td>
                        <td>Operacje</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

    
<div class="inline-block">
    <div id="horseMarks" >
      <h1>Tablica wyników</h1>
        <table>
            <thead>
                <tr>
                    <td>Koń</td>
                    <td>Typ</td>
                    <td>Głowa</td>
                    <td>Ciało</td>
                    <td>Nogi</td>
                    <td>Ruch</td>
                    <td>Średnia</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
 </div>
    
</body>
</html>
