<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Zawody</title>
    <%- include("header") %>
<script>
    $(function(){
      var socket = io.connect('//' + window.location.host, {secure: true});
        var competitionMasterId = $("#competitionMasterId").val();
        socket.emit("competitionsByCompetitionMasterIdReq", {
            competitionMasterId: competitionMasterId
        });
        socket.on("competitionsByCompetitionMasterIdRes", function(data){
            console.log(data);
    
        var competitionMasterList = $("#competitionMasterList table tbody");
            competitionMasterList.empty();
         
            for(var i=0; i<data.competitions.length; i++){
                var row = $("<tr />");
                $("<a>").attr("href","/newCompetitionStep2/" + data.competitions[i]._id).text(data.competitions[i].name).appendTo(row);
                row.append("<td>" + data.competitions[i].date + "</td>");
                row.append("<td>" + data.competitions[i].comments + "</td>");
                row.append("<td>" + ( data.competitions[i].isActive == true ? "TAK" : "NIE" ) + "</td>");
                
                   

                var buttons = $("<td>");
                
                
                
                
                  var editButton = $("<span>");
                editButton.attr("competitionId", data.competitions[i]._id);
                var editIcon = $("<i class='material-icons'>mode_edit</i>").appendTo(editButton);
                editButton.click(function(e){
                    $("#editForm").show();
                    socket.emit("competitionReadByIDReq",{
                        competitionId: $(this).attr("competitionId")
                    });
                });
                buttons.append(editButton);
                
                
                
                var deleteButton = $("<span>");
                deleteButton.attr("competitionId", data.competitions[i]._id);
                var deleteIcon = $("<i class='material-icons'>remove_circle_outline</i>").appendTo(deleteButton);
                deleteButton.click(function(e){
                    socket.emit("competitionDeleteByIDReq", {
                        competitionId: $(this).attr("competitionId")
                    });
                });
                buttons.append(deleteButton);
                
                
                
              
                
                
                
                row.append(buttons);
           
                competitionMasterList.append(row);
            }
        });
            socket.on("competitionDeleteByIDRes", function(data){
                socket.emit("competitionsByCompetitionMasterIdReq", {
                    competitionMasterId: competitionMasterId
                });
            });
        
            socket.on("competitionReadByIDRes", function(data){
                console.log(data);
                $("#competitionId").val(data.data._id);
                $("#name").val(data.data.name);
                $("#date").val(data.data.date);
                $("#comments").val(data.data.comments);
            });
    });
    
    </script>
    
</head>
   <nav>
        <div>
            
            <a href="/logout">Wyloguj</a>
        </div>
        <div>
            <a href="/admin" class="myButton">Panel administratora</a>
            <a href="/juryManager" class="myButton">Zarządzaj sędziami</a>
            <a href="/horseManager" class="myButton">Zarzadzaj koniami</a>
            <a href="/competitionMasterManager" class="myButton">Zarządzaj zawodami</a>
            <a href="/newCompetitionMaster" class="myButton">Utwórz nowe zawody</a>

        </div>
        <div class="message">
        <%  if(typeof message != 'undefined'){ %>
        <%= message %>
        <% } %>   
        
        </div>
    </nav>
<body>
 
        <div>
        
            <h1>Zawody: <%= competitionMaster.name %></h1>    
        <a href="/newCompetition/<%= competitionMaster._id %>" class="myButton1" >Utwórz nową grupę</a>
        </div>
<div id="editFormG">
    <form action="/editCompetitionManager" method="post" class="form-style-6"> 
          <table>
                <input type="hidden" name="competitionMasterId" id="competitionMasterId" value="<%= competitionMaster._id %>" />  
                <input type="hidden" name="competitionId" id="competitionId" value="" />
                <tr>
                    <td><label for="name">Nazwa grupy</label></td>
                    <td><input type="text" name="name" id="name"/></td>
                </tr>
                <tr>
                    <td><label for="date">Data</label></td>
                    <td><input type="date" name="date" id="date" /></td>
                </tr>
                <tr>
                    <td><label for="comments">Uwagi</label></td>
                    <td><input type="text" name="comments" id="comments"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Aktualizuj grupę" /></td>
                </tr>
            </table>
    
    </form>
</div>  
    
    <div id="competitionMasterList">
    <h1>Lista grup</h1>
    <table>
        <thead>
            <tr>
                <td>Nazwa</td>
                <td>Data</td>
                <td>Komentarz</td>
                <td>Aktywny</td>
                <td>Operacje</td>
                
            </tr>    
        </thead>
        <tbody>
        </tbody>
    </table>    
        
    </div>
    
    
</body>
</html>