<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Zawody</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />    
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <script>
    var socket = io.connect('//' + window.location.host, {secure: true});
    socket.emit("availableHorsesReq", {
        gender: "<%= competition.gender %>",
        competitionId: "<%= competition._id %>"
    });
    socket.on("availableHorsesRes", function(data) {
        var horsesList = $("#horses table");
        horsesList.empty();
        
        for (var i=0; i<data.length; i++) {
            var row = $("<tr />");
            row.append("<td>" + data[i].horseName +"</td>");
            row.append("<td>" + data[i].gender +"</td>");
            row.append("<td>" + data[i].owner +"</td>");
            row.append("<td>" + data[i].dateOfBirth +"</td>");
            
            var addButton = $("<td>");
            addButton.attr("horseId", data[i]._id)
            $("<i class='material-icons'>add_circle_outline</i>").appendTo(addButton);
            addButton.click(function(e) {
                socket.emit("horseAddToCompetitionReq", {
                    competitionId: '<%= competition._id %>',
                    horseId: $(this).attr("horseId")
                });
            });
            row.append(addButton);
            horsesList.append(row);
        }
    });
  
    socket.on("horseAddToCompetitionRes", function(data) {
        window.location = "/newCompetitionStep2/" + data.competitionId;
    });   
        
    socket.emit("horsesByCompetitionIDReq", {
        competitionId: "<%= competition._id %>"
    });
    socket.on("horsesByCompetitionIDRes", function(data) {
        var horsesInCompetition = $("#horsesInCompetition");
        horsesInCompetition.empty();
        
        for (var i=0; i<data.length; i++) {
            var row = $("<tr />");
            row.append("<td>" + data[i].horseName +"</td>");
            row.append("<td>" + data[i].gender +"</td>");
            row.append("<td>" + data[i].owner +"</td>");
            row.append("<td>" + data[i].dateOfBirth +"</td>");
                    
            var deleteButton = $("<td>");
            deleteButton.attr("horseId", data[i]._id)
            $("<i class='material-icons'>remove_circle_outline</i>").appendTo(deleteButton);
            deleteButton.click(function(e) {
                socket.emit("horseDeleteFromCompetitionReq", {
                    competitionId: '<%= competition._id %>',
                    horseId: $(this).attr("horseId")
                });
            });
            row.append(deleteButton);
            horsesInCompetition.append(row);
        }
    });
    socket.on("horseDeleteFromCompetitionRes", function(data) {
        window.location = "/newCompetitionStep2/" + data.competitionId;
    });
        
    socket.emit("availableJuryReq", {
        competitionId: "<%= competition._id %>"
    });
        
    socket.on("availableJuryRes", function(data) {
        var juryList = $("#juries table");
        juryList.empty();
        
        for (var i=0; i<data.length; i++) {
            var row = $("<tr />");
            row.append("<td>" + data[i].username +"</td>");
            row.append("<td>" + data[i].password +"</td>");
            row.append("<td>" + data[i].firstName +"</td>");
            row.append("<td>" + data[i].lastName +"</td>");
            
            var addButton = $("<td>");
            addButton.attr("juryId", data[i]._id)
            $("<i class='material-icons'>add_circle_outline</i>").appendTo(addButton);
            addButton.click(function(e) {
                socket.emit("juryAddToCompetitionReq", {
                    competitionId: '<%= competition._id %>',
                    juryId: $(this).attr("juryId")
                });
            });
            row.append(addButton);
            juryList.append(row);
        }
    });
        
    socket.on("juryAddToCompetitionRes", function(data) {
        window.location = "/newCompetitionStep2/" + data.competitionId;
    });
        
    socket.on("juryDeleteFromCompetitionRes", function(data) {
        window.location = "/newCompetitionStep2/" + data.competitionId;
    }); 
    socket.emit("juriesByCompetitionIDReq", {
        competitionId: "<%= competition._id %>"
    });
    socket.on("juriesByCompetitionIDRes", function(data) {
        console.log();
        console.log(data);
        
        var juriesInCompetition = $("#juriesInCompetition");
        juriesInCompetition.empty();
        
        for (var i=0; i<data.length; i++) {
            var row = $("<tr />");
            row.append("<td>" + data[i].username +"</td>");
            row.append("<td>" + data[i].password +"</td>");
            row.append("<td>" + data[i].firstName+"</td>");
            row.append("<td>" + data[i].lastName +"</td>");
                    
            var deleteButton = $("<td>");
            deleteButton.attr("juryId", data[i]._id)
            $("<i class='material-icons'>remove_circle_outline</i>").appendTo(deleteButton);
            deleteButton.click(function(e) {
                socket.emit("juryDeleteFromCompetitionReq", {
                    competitionId: '<%= competition._id %>',
                    juryId: $(this).attr("juryId")
                });
            });
            row.append(deleteButton);
            juriesInCompetition.append(row);
        }
    });
    socket.on("juriesDeleteFromCompetitionRes", function(data) {
        window.location = "/newCompetitionStep2/" + data.competitionId;
    });
        

        
        
        
    </script>
    
    <input type="hidden" id="competitionId" value="<%= competition._id %>" />

    <h1>Widok zawodów <%= competition.name %> - <%= (competition.isActive) ? "Aktywne" : "Nieaktywne" %></h1>
    <h2>Konie w zawodach</h2>
    <div id="horsesInCompetition"></div>
    <h2>Dostępne konie</h2>
    <div id="horses"><table></table></div>
    <h2>sędziowie w zawodach</h2>
    <div id="juriesInCompetition"></div>
    <h2>Dostępni sędziowie</h2>
    <div id="juries"><table></table></div>
   
    
</body>
</html>
