<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Edycja profilu</title>
    <%- include("header") %>
</head>

<body>
    <div>
     <% if(loggedUser.isAdmin = true) { %>
    <a href="/administrator">Strona administratora</a>
       <% } else { %>
    <a href="/jury">Strona sędziego</a>
        <% } %>
     <a href="/logout">Wyloguj</a>
    </div>  
    
    <h1>Profil użytkownika</h1>
 
    <form action="/editProfile" method="post" class="form-style-6">
        <input type="hidden" name="isAdmin" value="<%= loggedUser.isAdmin %>" />
        <table>
            <tr>
                        <td><label for="firstName">Imię</label></td>
               <td><% if( (loggedUser != null) && (typeof loggedUser.firstName != 'undefined') ) { %>
                    <input type="text" name="firstName" value="<%= loggedUser.firstName %>" /><br/>
                <% } else { %>
                    <input type="text" name="firstName" /><br/>
                <% } %></td>
            </tr>
            <tr>
                <td><label for="lastName">Nazwisko</label></td>
                <td><% if( (loggedUser != null) && (typeof loggedUser.lastName != 'undefined') ) { %>
                    <input type="text" name="lastName" value="<%= loggedUser.lastName %>" /><br/>
                <% } else { %>
                    <input type="text" name="lastName" /><br/>
                <% } %></td>
            </tr>
            <tr>
                <td><label for="username">Nazwa użytkownika</label></td>
                <td> <input type="text" name="username" value="<%= loggedUser.username %>" /><br/></td>
            </tr>
            <tr>
                <td><label for="password">Hasło</label></td>
                <td><input type="password" name="password"  value="<%= loggedUser.password %>" /><br/></td>
            </tr>
 
            <tr>
                <td><input type="submit" value="Aktualizuj profil" /></td>
            </tr>
            </table>
    </form>
    
        
</body>

</html>
